<div class="members-of-team">
  <div class="members-of-team-text">
       
      
    <h1>Members of <%= @team.name() %></h1>
     
    <% if @team.members().any?() %>
      <ul class="list-group">
        <% @team.members().each() do |member| %>
          <li class="list-group-item"><%= member.first_name() %> <%= member.last_name() %></li>
        <% end%>
      </ul>
    <% else %>
      <h4><%= @team.name() %> has no team members yet, add a member below</h4>
    <% end %>

      
    <form action="/member_added" method="post">
      <input type="hidden" name="team_id" value="<%= @team.id() %>">
      <input type="text" name="first_name" placeholder="Enter first name">
      <input type="text" name="last_name" placeholder="Enter last name">
      <button class="btn btn-success" type="submit">Add Member</button>
    </form>
  </div>
</div>
      
      